/* Element selectors */
body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}

header {
    display:flex;
    height: 60px;
    width: 100%;
    background-color: #404652;
}

main {
    background-color: #ebedf5;
}

footer {
    background-color: #ebedf5;
}

aside h2 {
    float: right;
}

figcaption {
    color: rgb(119, 119, 255);
    font-size: 18px;
}

a:link {
    color: rgb(119, 119, 255);
}

a:visited {
    color: rgb(212, 42, 212);
}
/* Header selections */
#title-section {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 450px;
    flex-grow: 1;
    padding: 10px;
    text-align: left;
    align-items:center;
    background-color: #93CACC;
    color: #404652;
}

#filler-section {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 450px;
    padding: 10px;
    background-color: #404652;
}

#links-section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    flex-basis: 400px;
    padding: 10px;
}

/* Main selections */
.parent-element {
    display: flex;
    flex-wrap: wrap;
}

#container {
    position: relative;
    /* text-align: center; */
}

#page-image {
    width: 100%;
}

#bottom-right {
    position: absolute;
    width: 200px;
    bottom: 68%;
    right: 5%;
    background-color: #93CACC;
    color: #404652;
    font-size:x-large;
}

/* About-Me blocks */
#profile-content-am {
    flex: 1 1 25%;
    padding: 10px;
    color: #404652;
    height: 180px;
    /* width: 100%; */
    border-right: solid #404652;
}

#bio {
    flex: 1 1 50%;
    padding: 5px 20px;
    color: #404652;
    height: 180px;
    /* width: 100%; */
    font-size: 15px;
}

#headshot {
    flex: 1 1 25%;
    text-align: center;
    /* padding: 10px; */
}

#headshot-img {
    width: 180px;
    height: 180px;
}

/* Work blocks */
#profile-content-w {
    flex: 1 1 25%;
    padding: 10px;
    color: #404652;
    height: 240px;
    /* width: 100%; */
    border-right: solid #404652;
}

.web-app-item {
    flex: 1 1 25%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 20px 40px;
    height: 220px;
    /* width: 100%; */
    font-size: 18px;
    color: white;
}

.webapp-img {
    width: 275px;
    height: 190px;
}

.webapp-img:hover {
    width: 285px;
    height: 200px;
  }

/* Contact-Me blocks */
#contact-info {
    flex: 1 1 75%;
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    color: #404652;
    height: 180px;
    /* width: 100%; */
    font-size: 18px;
    justify-content:space-around;
    align-items: center;
}

/* Media queries */
@media screen and (max-width: 1240px) {
    #profile-content-am {
        flex: 1 1 33%;
    }
    #bio {
        flex: 1 1 33%;
    }
    #headshot {
        flex: 1 1 33%;
    }
    #profile-content-w {
        flex: 1 1 33%;
    }
    .web-app-item {
        flex: 1 1 33%;
    }
    /* #contact-info {
        flex: 1 1 75%;
    } */
}

@media screen and (max-width: 950px) {
    #profile-content-am {
        flex: 1 1 50%;
    }
    #bio {
        flex: 1 1 50%;
    }
    #headshot {
        flex: 1 1 50%;
    }
    #profile-content-w {
        flex: 1 1 50%;
    }
    .web-app-item {
        flex: 1 1 50%;
    }
    #contact-info {
        flex: 1 1 75%;
    }
}

@media screen and (max-width: 750px) {
    #bottom-right {
        bottom: 83%;
    }
    #profile-content-am {
        flex: 1 1 100%;
        height: 60px;
        order: 1;
    }
    aside h2 {
        float: left;
    }
    #bio {
        flex: 1 1 100%;
        height: 240px;
        order: 2;
    }
    #headshot {
        flex: 1 1 100%;
        order: 3;
    }
    #profile-content-w {
        flex: 1 1 100%;
        height: 60px;
        order: 4;
    }
    .web-app-item {
        flex: 1 1 100%;
        order: 5;
    }
    #contact-info {
        flex: 1 1 100%;
        order: 6;
    }
}